.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.logo {
  color: #ec407a;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  font-weight: bold;
  cursor: pointer;
}

.nav-links li:hover {
  color: #ec407a;
}